pillow 
django
django-admin-interface
psycopg2-binary
django-crispy-forms
django-axes
reportlab
django-simple-captcha
django-multi-captcha-admin





#ola3
# pip install r requirements.txt

