install pillow 
install django
django-admin-interface
install psycopg2
install django-crispy-forms
install django-axes
install reportlab
install django-simple-captcha
install django-multi-captcha-admin





#ola3
# pip install r requirements.txt

